*{
    box-sizing: border-box;
}

/* General Styles  */
body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: #f0f0f0;
}

 h2{
    font-size: 26px;
    margin-bottom: 26px;
} 

/* Slideshow Container */
.slideshow-container {
    position: relative;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

/* Slide Styling */
.slide {
    display: none;
    position: relative;
}

.slide.active {
    display: block;
    animation: fade 1s;
}

/* Image Styling */
.slide img {
    width: 100%;
    height: 100%;
    height: 600px;
    display: block;
    object-fit: cover;
    border-radius: 5px;
}
.slide h3{
  font-size: 24px;
}

.slide p{
    margin: 0;
}
/* Overlay Styling */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75); /* Partially transparent background */
    color: #ffffff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Dot Navigation Styling */
.dot-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #717171;
}

/* Fade Animation */
@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}
